/* background-colors -- #CEE5D0 -- #F0EAE2 -- #A0937D */
/* font-colors -- #EAF6F6 -- #5FA164 -- #345236 */
/* font-family: 'Courgette', cursive;
font-family: 'Indie Flower', cursive; */

/* -----------  HTML Elements  -----------  */
body {
    margin: 0;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 105%;
}
h1 {
    color: #345236;
    font-size: 3.75rem;
    margin: 0 auto 0 auto;
    font-family: 'Courgette', cursive;
}
h2 {
    color: #5FA164;
    font-family: 'Courgette', cursive;
    font-size: 2.1rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    color: #5FA164;
    font-family: 'Indie Flower', serif;
    font-size: 1.75rem;
}
hr {
    border: dotted #345236 5px;
    border-bottom: none;
    width: 10%;
}
p {
    line-height: 2;
}

/* ----------  Class  Elements  ----------  */
.container-top {
    background-color: #CEE5D0;
    padding-top: 125px;
}
.container-middle {
    background-color: #F0EAE2;
    padding: 50px 0;
}
.container-bottom {
    color: #CEE5D0;
    font-size: .9REM;
    font-style: italic;
    background-color: #A0937D;
    padding: 20px 0 5px;
}
.cloud-left {
    position: absolute;
    left: 16%;
    top: 200px;
}
.cloud-right {
    position: absolute;
    right: 16%;
    top: 100px;
}
.birds {
    position: absolute;
    right: 28%;
    top: 330px;
}
.mountain {
    width: 100%;
}
.pro {
    text-decoration: underline;
}
.programmer {
    color: #345236;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
}
.personal {
    padding-bottom: 30px;
    width: 38%;
    margin: auto;
}
.skill-row {
    width: 50%;
    margin: 75px auto 75px auto;
    text-align: left;
}
.interest-row {
    width: 50%;
    margin: 75px auto 75px auto;
    text-align: right;
}
.computer {
  float: left;
  margin-right: 30px;
}
.airplane {
  float: right;
  margin-left: 50px;
}
.contact{
    padding-top: 15px;
}
.btn {
  background: #6aeb82;
  background-image: -webkit-linear-gradient(top, #87C18B, #1F3320);
  background-image: -moz-linear-gradient(top, #87C18B, #1F3320);
  background-image: -ms-linear-gradient(top, #87C18B, #1F3320);
  background-image: -o-linear-gradient(top, #87C18B, #1F3320);
  background-image: linear-gradient(to bottom, #87C18B, #1F3320);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #8bf59d;
  background-image: -webkit-linear-gradient(top, #8bf59d, #1C622C);
  background-image: -moz-linear-gradient(top, #8bf59d, #1C622C);
  background-image: -ms-linear-gradient(top, #8bf59d, #1C622C);
  background-image: -o-linear-gradient(top, #8bf59d, #1C622C);
  background-image: linear-gradient(to bottom, #8bf59d, #1C622C);
  text-decoration: none;
}
.footer-link {
    font-family: 'Indie Flower', serif;
    color: #345236;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
.footer-link:hover {
    color: #CEE5D0;
}
