* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    overflow-x: hidden;
}

.header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 50px;
    margin-left: 10px;
}

#navbar {
    margin-right: 10px;
    display: flex;
    justify-content: end;
}

#navbar li {
    display: inline;
    list-style: none;
    text-decoration: underline;
}

#navbar a {
    color: seashell;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect1 {
    background-image: url(../images/img-mission-background.webp);
    width: 89%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sect1 h2,
#sect1 p {
    width: 100%;
    height: 60px;
    background-color: black;
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect2 {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sect2 h2,
#sect2 p {
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect2 h2 {
    margin-top: 60px;
}

#sect2 p {
    margin: 40px;
}

#sect2imgs {
    width: 89%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sect2img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sect2img img {
    width: 300px;
    height: 200px;
    margin: 10px 10px;
}

#sect2img p {
    margin: 12px;
}

#sect3 {
    background-image: url(../images/img-locations-background.webp);
    width: 89%;
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sect3locs {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#locsrow {
    width: 300px;
    height: 300px;
    margin: 15px 20px;
    color: seashell;
    background-color: black;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#sect4 {
    color: seashell;
    height: 200px;
    gap: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer {
    margin: 20px 20px;
    font-size: .8em;
    display: flex;
    justify-content: start;
}